:root {
  --color-primary: #A69889;
  --color-secondary: #B6D1C1;
  --color-light: #F2EADB;
  --color-accent: #D8A17C;
  --color-blue-gray: #60869D;
  --color-beige: #E6C896;
  --color-dark-green: #496B5F;
}